@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 100% 2%;
    --foreground: 245 27% 98%;
    --muted: 245 13% 8%;
    --muted-foreground: 245 4% 63%;
    --popover: 245 100% 2%;
    --popover-foreground: 245 27% 98%;
    --card: 245 100% 3%;
    --card-foreground: 245 27% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 245 100% 67%;
    --primary-foreground: 245 100% 85%;
    --secondary: 245 18% 12%;
    --secondary-foreground: 245 18% 72%;
    --accent: 245 25% 17%;
    --accent-foreground: 245 25% 77%;
    --destructive: 4 84% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 245 100% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
