@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 127 50% 0%;
      --foreground: 127 32% 97%;
      --muted: 307 11% 14%;
      --muted-foreground: 307 1% 72%;
      --popover: 0 0% 1%;
      --popover-foreground: 127 32% 98%;
      --card: 0 0% 1%;
      --card-foreground: 127 32% 98%;
      --border: 127 4% 14%;
      --input: 127 4% 14%;
      --primary: 127 94% 68%;
      --primary-foreground: 127 94% 8%;
      --secondary: 307 94% 68%;
      --secondary-foreground: 307 94% 8%;
      --accent: 307 94% 68%;
      --accent-foreground: 307 94% 8%;
      --destructive: 12 84% 60%;
      --destructive-foreground: 0 0% 0%;
      --ring: 127 94% 68%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }